<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-dark">All restaurants</h1>
      <div class="mt-5 d-flex flex-row justify-content-between flex-wrap">
        <% @restaurants.each do |restaurant| %>
          <div class="card text-dark mt-2 mb-2 mr-2" style="width: 47%;">
            <div class="card-body">
              <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant), class: "text-danger" %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= restaurant.category %></h6>
              <p class="card-text"><%= restaurant.address %></p>
            </div>
          </div>
        <% end %>
    </div>
  </div>
</div>
